.top-bar{

    display:flex;
    justify-content: center;
    align-items: center;
    background:#eee;
    padding:10px;
    gap: 20px;
}


nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background:black;
    color:white;
}
nav h2{
    font-size: 24px;
}

nav small{
    font-size: 12px;
    color: gray;
}
ul{
    display:flex;
    gap: 20px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}
ul li a:hover{
      color: #c59d5f;
    border-bottom: 2px solid white;
}
nav div span{
    display:block;
    width:20px;
    height:2px;
    background:black;
    margin:4px 0;
}