/* reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* top bar */
.top-bar{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#eee;
    padding:10px;
    gap:20px;
    font-family:Arial;
}

/* timer box */
#timer{
    background:black;
    color:white;
    padding:6px 14px;
    border-radius:6px;
    font-weight:bold;
    letter-spacing:2px;
    font-size:14px;
    min-width:110px;
    text-align:center;
}

/* top button */
.top-bar button{
    background:black;
    color:white;
    border:none;
    padding:6px 14px;
    border-radius:6px;
    cursor:pointer;
    font-weight:500;
    transition:0.3s;
    text-transform:uppercase;
}

.top-bar button:hover{
    background:#c59d5f;
}

/* navbar */
.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:black;
    color:white;
}

/* logo section */
.logo{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    line-height:1.2;
}

/* logo image */
.logo-icon img{
    width:45px;
    height:45px;
    margin-bottom:5px;
}

/* brand name */
.logo h2{
    margin:5px 0 0 0;
    font-size:22px;
    letter-spacing:4px;
    font-family:serif;
    text-transform:uppercase;
    text-shadow:0px 0px 10px rgba(197,157,95,0.3);
}

/* tagline */
.logo small{
    font-size:11px;
    color:#c59d5f;
    letter-spacing:3px;
    text-transform:uppercase;
}

/* nav menu */
.nav-bar ul{
    display:flex;
    gap:20px;
    list-style:none;
    margin:0;
    padding:0;
    align-items:center;
}

/* nav links */
.nav-bar ul li a{
    text-decoration:none;
    color:white;
    text-transform:uppercase;
    letter-spacing:1px;
    transition:0.3s;
    border-bottom:2px solid transparent;
    padding-bottom:4px;
}

/* hover effect */
.nav-bar ul li a:hover{
    color:#c59d5f;
    border-bottom:2px solid #c59d5f;
}

/* icons container */
.nav-icon{
    display:flex;
    gap:20px;
    align-items:center;
}

/* icons */
.nav-icon svg{
    width:20px;
    height:20px;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

/* icon hover */
.nav-icon svg:hover{
    transform:scale(1.1);
    color:#c59d5f;
}
.category{
    display: flex;
    gap: 25px;
    margin: 20px 0;
    font-size: 14px;
}

.category label{
    cursor: pointer;
}
